{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<table>
        <tr><td class="tdTrDefoult"><h1>Регистрация</h1></td></tr>

        <tr><td class="tdTrDefoult">{{ form_errors(registrationForm) }}</td></tr>

        <tr><td class="tdTrDefoult">{{ form_start(registrationForm) }}</td></tr>
            <tr><td class="tdTrDefoult">{{ form_row(registrationForm.email, { label: 'Ваша почта' }) }}</td></tr>
            <tr><td class="tdTrDefoult">{{ form_row(registrationForm.nickname, { label: 'Никнейм' }) }}</td></tr>
            <tr><td class="tdTrDefoult">{{ form_row(registrationForm.plainPassword, { label: 'Пароль' }) }}</td></tr>
            <tr><td class="tdTrDefoult">{{ form_row(registrationForm.agreeTerms) }}</td></tr>

            <tr><td class="tdTrDefoult"><button type="submit" class="btn">Подтвердить</button></td></tr>
        <tr><td class="tdTrDefoult">{{ form_end(registrationForm) }}</td></tr>
</table>
{% endblock %}
