{% extends 'base.html.twig' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
<table>
    <tr><td class="tdTrDefoult">{{ form_errors(resetForm) }}</td></tr>

    <tr><td class="tdTrDefoult">{{ form_start(resetForm) }}</td></tr>
        <tr><td class="tdTrDefoult"><h3>{{ form_row(resetForm.plainPassword, { label: 'Введите новый пароль ' }) }}</h3></td></tr>
        <tr><td class="tdTrDefoult"><button type="submit" class="btn">Сменить пароль</button></td></tr>
    <tr><td class="tdTrDefoult">{{ form_end(resetForm) }}</td></tr>
    <tr><td><h2 class="tdTrDefoult btn-new:hover btn-new"><a href="{{ path('homepage') }}">На главную страницу</h2></td></tr>
</table>
{% endblock %}
