{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
<table>
    <tr><td class="tdTrDefoult"><form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Вы вошли как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти</a>
            </div></tr>
        {% endif %}

        <tr><td><h1 class="h3 mb-3 font-weight-normal">Пожалуйста авторизуйтесь</h1></td></tr>
        <tr><td class="tdTrDefoult"><label for="username">Почта</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus></td>
        </td><tr><tr><td class="tdTrDefoult"><label for="password">Пароль</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required></td></tr>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
        #}

        <tr><td class="tdTrDefoult"><button class="btn btn-lg btn-primary" type="submit">
            Войти
        </button></td></tr>
    </form>
    </td>
</table>
{% endblock %}
