{% extends 'base.html.twig' %}

{% block title %}Bombaster - коротко о играх{% endblock %}

{% block body %}
<table class="center">
	<tbody>
		<tr class="">
			<td class="tdTrDefoult btn-new:hover btn-new"><h3>Поиск статей</h3></td>
			<td class="tdTrDefoult btn-new:hover btn-new"><h3><a href="{{ path('app_login')}}">Авторизация</h3></td>
            <td class="tdTrDefoult btn-new:hover btn-new"><h3><a href="{{ path('profile') }}">Мой профиль</h3></td>
			<td class="tdTrDefoult"></td>
			<td class="tdTrDefoult" style="text-align: center;"><h3>Пользователи сайта</h3></td>
		</tr>
		<tr>
			<td class="tdTrDefoult" colspan="4">

            {% for videoGameArticles in videoGameArticles %}
                <h1 class="center article">{{ videoGameArticles }}</h1>
                <h2 class="center text">{{ videoGameArticles.text }}</h2>
                <img class="center" src="{{ videoGameArticles.preview }}"/>
                <h1 class="center article">Средний рейтинг {{ videoGameArticles.allGrades }} балла<h1>
                <h1 class="center btn-new:hover btn-new"><a href="{{ path('article', { id: videoGameArticles.id }) }}">Комментарии ({{ videoGameArticles.allReviews }})</a></h1>
                <hr></hr>
            {% endfor %}

            </td>
			<td class="tdUsers">

                {% for users in users %}
                    <h4>{{ users.nickname }}</h4>
                    <img width="80" height="80" src="{{ path ~ users.avatars }}"/>
                    <h4>{% if users.online == true %}Online{% else %}Offline{% endif %}</h4>
                    <hr></hr>
                {% endfor %}

            </td>
		</tr>
		<tr>
			<td class="tdTrDefoult" colspan="5">Права нихуя не защищены походу :)</td>
		</tr>
	</tbody>
</table>

    
{% endblock %}