{% extends 'base.html.twig' %}

{% block title %}Отзывы {{ videoGameArticles }}{% endblock %}

{% block body %}
    <h1 class="center">{{ videoGameArticles }}</h1>

    <h2 class="center">{{ videoGameArticles.text }}</h2>

    {% if videoGameReviews|length > 0 %}
        {% for videoGameReviews in videoGameReviews %}

            <h3 class="center">{{ videoGameReviews.users }}</h3>

            <p class="center">{{ videoGameReviews.text }}</p>

            <h3 class="center">{{ videoGameReviews.grade }}/10</h3>

        {% endfor %}
    {% else %}
        <div class="center">Нет комментариев</div>
    {% endif %}
{% endblock %}