{% extends 'base.html.twig' %}

{% block title %}Отзывы{{ videoGameArticles }}{% endblock %}

{% block body %}
<table class="center">
    <tr>
        <td class="tdTrDefoult">

            <h1 class="article">{{ videoGameArticles }}</h1>
            <img class="center" src="{{ videoGameArticles.preview }}"/>
            <h2 class="text">{{ videoGameArticles.text }}</h2>
            <hr></hr>

        </td>
    </tr>
    <tr>
        <td>

            {% if videoGameReviews|length > 0 %}
                {% for videoGameReviews in videoGameReviews %}
                    <h3 class="comments">{{ videoGameReviews.users }}</h3>
                    <p class="comments">{{ videoGameReviews.text }}</p>
                    <h3 class="comments">{{ videoGameReviews.grade }} / 5</h3>
                {% endfor %}
             <hr></hr>
             <br><br>

            {# <input name="rating" value="1" id="one" type="radio" checked/>
            <label for="one">1</label>

            <input name="rating" value="2" id="two" type="radio"/>
            <label for="two">2</label>

            <input name="rating" value="3" id="three" type="radio"/>
            <label for="three">3</label>
 
            <input name="rating" value="4" id="four" type="radio"/>
            <label for="four">4</label>
            
            <input name="rating" value="5" id="five" type="radio"/>
            <label for="five">5</label>

            <br>
            <label for="commentId">Оставьте отзыв</label>
            <textarea rows="5" cols="45" id="commentId" name="comment"></textarea>
            <br>
            <input type="submit" value="Отправить"></p> #}

            {{ render(controller('App\\Controller\\CommentController::comment')) }}

        </td>
    </tr>
    <tr>
        <td class="tdTrDefoult">

            {% else %}
                <div class="">Нет комментариев</div>
            {% endif %}

        </td>
    </tr>
</table>
{% endblock %}