{% extends 'base.html.twig' %}

{% block title %}Отзывы {{ videoGameArticles }}{% endblock %}

{% block body %}
    <h1>{{ videoGameArticles }}</h1>

    <h2>{{ videoGameArticles.text }}</h2>

    {% if videoGameReviews|length > 0 %}
        {% for videoGameReviews in videoGameReviews %}

            <h3>{{ videoGameReviews.users }}</h3>

            <p>{{ videoGameReviews.text }}</p>

            <h3>{{ videoGameReviews.grade }}/10</h3>

        {% endfor %}
    {% else %}
        <div>Нет комментариев</div>
    {% endif %}
{% endblock %}