{% extends 'base.html.twig' %}

{% block title %}Отзывы{{ videoGameArticles }}{% endblock %}

{% block body %}
<table class="center">
    <tr>
        <td class="tdTrDefoult">

            <h1 class="article">{{ videoGameArticles }}</h1>
            <img class="center" src="{{ videoGameArticles.preview }}"/>
            <h2 class="text">{{ videoGameArticles.text }}</h2>
            <hr></hr>

        </td>
    </tr>
    <tr>
        <td>

            {% if videoGameReviews|length > 0 %}
                {% for videoGameReviews in videoGameReviews %}
                    <h3 class="comments">{{ videoGameReviews.users }}</h3>
                    <p class="comments">{{ videoGameReviews.text }}</p>
                    <h3 class="comments">{{ videoGameReviews.grade }} / 5</h3>
                    <hr></hr>
                {% endfor %}
                <br><br>
        </td>
    </tr>
    <tr>
        <td class="tdTrDefoult">

            {{ form_start(form) }}
                {{ form_widget(form.grade) }}
                {{ form_widget(form.text, { 'attr': {
                    'rows' : '5',
                    'cols' : '50' }}) }}
                    <div style="color: red"><h3>{{ form_errors(form.text) }}</h3></div>
                    <br>
                <button type="submit">Отправить комментарий</button>
            {{ form_end(form) }}

        </td>
    </tr>
    <tr>
        <td class="tdTrDefoult">

            {% else %}
                <div class="">Нет комментариев</div>
            {% endif %}

        </td>
    </tr>
</table>
{% endblock %}